body {
    height:1000px;
    background-image:url(../Images/background.jpg) !important;
}

h1 {
   text-align:center;
    color: white;
}
#LoginTable {
    color:white;
     text-align: left;
  
    margin-left: auto;
    margin-right: auto;

}
